header#header {
  @include clearfix;
  padding: $base-spacer 0;
  #logo {
    float: left;
  }
  #header-region {
    float: right;
    @media screen and (max-width: $tablet-pr) {
      display: none;
      float: none;
      &.show {
        display: block;
      }
    }
    .nice-menu {
      width: auto;
      border-top: 0;
      @media screen and (max-width: $tablet-pr) {
        width: 100%;
      }
      > li {
        @include reset_all;
        display: inline-block;
        width: auto;
        margin-left: $base-spacer;
        @media screen and (max-width: $tablet-pr) {
          display: block;
          width: 100%;
          text-align: center;
          margin-left: 0;
          padding: $base-spacer/2 0;
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

// Toggle Menu

#toggle-main-menu {
  right: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  position: relative;
  display: none;
  z-index: 100;
  @media screen and (max-width: $tablet-pr) {
    display: block;
  }
}

.bar,
.bar:after,
.bar:before {
  width: $bar-width;
  height: $bar-height;
}

.bar {
  position: relative;
  transform: translateY($bar-spacing);
  background: #000;
  transition: all .3s ease;
  margin: 0 auto;
  top: 50%;
  margin-top: -7px;
  &:before,
  &:after {
    content: " ";
    position: absolute;
    left: 0;
  }
  &:before {
    bottom: $bar-spacing;
      background: #000;
    transition: bottom .3s ease, transform .3s ease;
  }
  &:after {
    top: $bar-spacing;
      background: #000;
    transition: top .3s ease, transform .3s ease;
  }
  &.animate {
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
    &:after,
    &:before {
      box-shadow: none;
    }
    &:after {
      transform: rotate(-45deg);
      top: 0;
      transition: top .3s ease, transform .3s ease;
    }
    &:before {
      transform: rotate(45deg);
      bottom: 0;
      transition: bottom .3s ease, transform .3s ease;
    }
  }
}
