@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.clearfix {
  @include clearfix; 
}

@mixin container {
  max-width: $main-container;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  @extend .clearfix;
}

.container {
  @include container;
}
