// Fonts
$base-font: 'Helvetica', 'Arial', sans-serif;

// Sizes
$p-size: 14px;
$base-spacer: 20px;
$main-container: 1170px;

// Media query
$container: $main-container + $base-spacer*2 ;
$tablet-pr: 768px;

// Menu toggle
$bar-width: 20px;
$bar-spacing: 6px;
$bar-height: 2px;
